<footer>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                <a style="color: rgb(192, 192, 250)" href="https://twitter.com/palculois?lang=en">
                    <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </li>
                <li class="list-inline-item">
                <a style="color: rgb(192, 192, 250)" href="https://www.facebook.com/palculoisa/">
                    <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </li>
                <li class="list-inline-item">
                <a style="color: rgb(192, 192, 250)" href="https://www.pinterest.com/loisa11/?autologin=true">
                    <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
            </div>
        </div>
    </div>
</footer>